body{
    padding-top:56px;
    background-color:#f3ecec;
}
main{
    margin-left: 202px;
}
section{
    margin-left: 20px;
    margin-right: 20px;
}
section div div.card{ 
    border-radius: 15px;
    overflow: hidden;
    height: 530px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); 
}
#card-img{
    display: inline-block; 
}
#img-contain{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border: 1px green solid;
    position: absolute;
    margin-top: 30px;
    right: 70px;
    border-radius: 20px; 
}
.card-title{
    position: absolute;
    top: 50px;
    left: 100px;
}
#expertise{
    position: absolute;
    top: 100px;
    left: 100px;
}
#description{
    position: absolute;
    top: 150px;
    left: 100px;
}
#email{
    position: absolute;
    top: 60px;
    left: 520px;
}
#phone{
    position: absolute;
    top: 100px;
    left: 520px;
}
.checked {
    color: orange;
  }
#time-Slots-Main{
    display: block;
    height: 100px;
    width: 1000px;
    position: absolute;
    top: 400px;
    left: 100px;
    overflow: auto;
}
.avail{
    background-color: rgba(0, 200, 0, 0.2);
    cursor: pointer;
}
.blocked{
    border: 1px solid rgba(0, 0, 0, 0.7) !important;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
}
#time-Slots{
    display: inline-block;
    border: 1px solid green;
    height: 100px;
    width: 100px;
    margin-left: 2px;
    text-align: center;
    padding-top: 30px;
}
#time-Slots:first-child{
    margin-left: 0;
}
#rating{
    position: absolute;
    top: 250px;
    right: -250px;
}
#cost{
    position: absolute;
    top: 350px;
    left: 100px;
}
#address{
    position: absolute;
    top: 300px;
    left: 100px;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    padding-left: 10px;
}
.sidenav a, .dropdown-btn {
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}
.active, button:focus {
    background-color:rgba(0, 0, 0, 0.7);
    color: white;
    outline: none;
    border-left: 2px solid green;
}
#sidenav-head {
    padding: 5px 20px;
    margin-bottom: 5px;
}
.dropdown-container {
    display: none;
    padding-left: 10px;
}
.fa-caret-down {
    float: right;
    padding-right: 8px;
    padding-top: 8px;
}
.dropdown-container a{
    color:beige;
}
.dropdown-container a:hover{
    color:rgba(0,200,0,0.5);
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
